*.pdb
*.cache
*.exe
*.dll
Aplicacion Desktop/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csprojResolveAssemblyReference.cache
Aplicacion Desktop/ClinicaFrba/Clases/bin/Debug/Clases.pdb
*.pdb
Aplicacion Desktop/ClinicaFrba/Clases/obj/Debug/Clases.dll

Aplicacion Desktop/ClinicaFrba/ClinicaFrba/obj/
Aplicacion Desktop/ClinicaFrba/Helpers/obj/